/* styles.css */

* {
	font-family: Arial;
}

.last {
	padding-bottom: 2rem;
	border-bottom: 2px solid rgb(220, 200, 180);
	animation-name: growAndGlow;
	animation-duration: 3s;
}

@keyframes growAndGlow {
	from {
		color: whitesmoke;
	}

	50% {
		color: dodgerblue;
		transform: skewX(30deg);
	}

	to {
		transform: scale(3);
		color: red;
	}
